@import "tailwindcss" theme(static);
@plugin "@tailwindcss/typography";
@source "../views/";
@source "../../app/";
@import './fonts.css';

@theme static {

  --color-primary: #2f4f4f;
  /* verde */
  --color-secondary: #cc5500;
  /* laranja */
  --color-secondary-dark: #a95c34;
  /* laranja escuro */
  --color-accent: #f5f5dc;
  /* bege */
  --font-heading: "BlackOpsOne-Regular", sans-serif;
  /* --font-heading: "Space Grotesk", sans-serif; */
}

@layer utility {

  .container,
  .th-inside-container {
    padding: var(--container-padding, 1rem);
    margin-inline: auto;

    @variant lg {
      padding-inline: 8rem;
    }

    @variant xl {
      padding-inline: 10rem;
    }
  }
}

:root {
  --font-sans: 'InterRegular', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

body {
  @apply bg-accent;

  /* font-family: 'InterRegular', system-ui, -apple-system, sans-serif;
    font-weight: 400; */
}

strong {
  font-weight: 700;
}

.small {
  font-weight: 300;
}

#hero {
  background-image: url('../images/hero/hero.jpg');
  background-position: 10% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Menu */
ul#menu-menu-principal {
  @apply flex flex-col lg:flex-row gap-x-8
}

.gspb_container,
.page:not(.home) main section {
  @apply prose lg:prose-lg max-w-none prose-a:no-underline;
}

.menu {
  @apply prose prose-a:no-underline prose-a:hover:underline prose-ul:list-none;
}

/* Produtos */
#produtos {
  /* background-color: red; */

  ul {
    @apply flex flex-col lg:flex-row gap-6 justify-center;

  }
}

footer.content-info {
  /* #menu-menu-principal.menu {
    display: flex;
    flex-direction: column;
    background-color: red;
  } */

  p {
    @apply prose max-w-none prose-p:text-base prose-a:no-underline hover:prose-a:underline;
  }

  .wp-block-group {
    @apply my-2;
  }
}

main section header h1.container {
  @apply text-6xl;
}

.section-page .header-page {
  margin-bottom: 10rem;
}

.header-image-h1 {
  /* filter: brightness(50%); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

/* Woocommerce */
.woo-better-icon-current-style {
  top: -0.5rem;
}

.aligncenter {
  margin: 0 auto;
}

.products.columns-4 {
  @apply flex flex-col lg:flex-row items-stretch justify-between content-between;
}

#place_order,
.single_add_to_cart_button,
#submit-payment,
.checkout-button {
  background-color: var(--color-secondary) !important;
  color: white;

  &:hover {
    background-color: var(--color-primary) !important;
  }
}

.product_title {
  @apply text-primary;
}

figure .lazyloading {
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #E69037;
  width: 120px !important;
  height: 120px !important;
  -webkit-animation: spin 4s linear infinite;
  /* Safari */
  animation: spinner 4s linear infinite;
}

/* Safari */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.woocommerce-shipping-fields .shipping_address {
  transition: all 0.3s ease;
}

.wp-block-post-title {
  a:hover {
    text-decoration: underline
  }
}

.related.products {
  display: none;
}

/* .logo-wrapper-mobile {
  right: 1rem;
  bottom: 2rem;
} */

/* #home-title-wrapper {
  @apply bottom-20 lg:bottom-0;
} */

.wp-block-image,
.wp-block-zolo-advanced-image,
.page:not(.nossos-parceiros) .wp-block-media-text__media,
.single-post figure {
  img {
    @apply rounded-xl;
  }
}

.wp-block-woocommerce-product-image {
  overflow: hidden;

  .size-woocommerce_single {
    @apply rounded;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    &:hover {
      @apply rounded;

      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.woocommerce-products-header,
div.product-type-simple {
  padding-top: 2rem;
}

/* Correção LCP imagem */
#hero-section figure img {
  position: relative;
  right: 1.7rem;
}

li.wc-block-product {
  @apply hover:scale-105 transition duration-300 ease-in-out;

}


li.wc-block-product img:hover {
  @apply hover:scale-105;
}

.woocommerce-order ul+p+p {
  display: none;
}

.h-03 {
  height: calc(var(--spacing) * 0.3);
}

/* Woocommerce */
#shop {
  header#loja {
    h1 {
      @apply text-white text-6xl;
    }

    p {
      @apply text-white text-xl;
    }

    strong {
      @apply text-white;
    }

    .wp-block-cover__image-background,
    .wp-block-cover__background {
      @apply rounded-xl;
    }
  }

  .wp-block-woocommerce-product-collection {
    margin-top: 4rem;

    ul {
      li.wc-block-product {
        @apply rounded-lg bg-white;

        img {
          @apply rounded-t-xl;
        }
      }
    }
  }

}

:root :where(.wp-element-button, .wp-block-button__link) {
  @apply rounded-xl bg-primary text-white font-semibold w-fit;
}

/* Products single page */

.woocommerce-product-gallery {
  .woocommerce-product-gallery__image {
    img {
      @apply rounded-xl;
    }
  }

  ol.flex-control-thumbs {
    li {
      margin-bottom: 1rem !important;
      img {
        @apply rounded-xl;
      }
    }
  }
}

.input-text {
  @apply rounded-lg border border-gray-400 p-0.5 mr-4;
}

.woocommerce div.product div.summary {
  margin-top: 1.5rem;
}

#shop_single_products {
  margin-top: -2.5rem;
}